<main>
<div id="container">
<div id="modifier">
  <div id="title">
  <h1>Pomodoro Clock</h1>
  </div>
  <div id="length">
  <div id="break">
    <h1>Break Length</h1>
    <div id="number">5</div>
    <button id="btn">Up</button>
    <button id="btn">Down</button>
  </div>

  <div id="session">
    <h1>Session Length</h1>
    <div id="number">25</div>
    <button id="btn">Up</button>
    <button id="btn">Down</button>
  </div>
</div>
</div>
<div id="display">
  <div>
    <h1>Session</h1>
    <div id="number">25</div>
    <button id="btn">play/stop</button>
    <button id="btn">Reset</button>
  </div>
</div>
</div>
</main>


<router-outlet></router-outlet>
