@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
*{
    font-family: 'Lexend', sans-serif;
}
#modifier{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title{
    text-align: center;
}
#length{
    display: flex;
    text-align: center;
    justify-content: center;
    column-gap: 300px;
}
#display{
    margin-top: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
}
#number{
    margin: 5px;
    font-size: 20px;
}
#length-btn{
    width: 30px;
    height: 30px;
    bottom: 40px;
    right: 40px;
    margin: 5px;
    background-color: #004dff;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    border: #004dff;
    transition: 0.5s;
}
button:hover{
    transform: scale(1.1);
}
button:active{
    background-color: #020cd1;
}
#control-btn{
    width: 60px;
    height: 40px;
    bottom: 40px;
    right: 40px;
    margin: 5px;
    background-color: #004dff;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    border: #004dff;
    transition: 0.5s;
}
