<main>
<div id="container">
<div id="modifier">
  <div id="title">
  <h1>Pomodoro Clock</h1>
  </div>
  <div id="length">
  <div id="break">
    <h1>Break Length</h1>
    <div id="number">{{break}}</div>
    <button id="btn" (click)="breakHandler(1)">+</button>
    <button id="btn" (click)="breakHandler(0)">-</button>
  </div>

  <div id="session">
    <h1>Session Length</h1>
    <div id="number">{{session}}</div>
    <button id="btn" (click)="sessionHandler(1)">+</button>
    <button id="btn" (click)="sessionHandler(0)">-</button>
  </div>
</div>
</div>
<div id="display">
  <div>
    <h1>Session</h1>
    <div id="number">{{timer}}</div>
    <button id="btn" (click)="timerHandler()">P/S</button>
    <button id="btn" (click)="reset()">R</button>
  </div>
</div>
</div>
</main>


<router-outlet></router-outlet>
